[submodule "PADBS-installer"]
	path = PADBS-installer
	url = https://github.com/Dr1xam/PADBS-installer.git
	branch = stable
[submodule "PADBS-downloader"]
	path = PADBS-downloader
	url = https://github.com/Dr1xam/PADBS-downloader.git
	branch = stable
